body {
    background-image: url('images/interface.png');
    background-size: 90%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #322b2b;
    contain: 60%;
    border: 10px solid transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-position: center center;
    box-shadow: 
      0 0 10px 5px rgba(0, 0, 0, 0.5), /* top */
      0 0 10px 5px rgba(0, 0, 0, 0.5) inset, /* bottom */
      0 0 10px 5px rgba(0, 0, 0, 0.5), /* left */
      0 0 10px 5px rgba(0, 0, 0, 0.5) inset; /* right */
  }
  
  